@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
  font-family: Dosis, Arial, Verdana;

  ::-webkit-scrollbar {
    overflow: visible;
    width: 16px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    border-width: 1px 1px 1px 6px;
  }
}

#dropbox {
  display: inline-block;
  @height: 40px;
  padding: 0 10px;
  min-width: 200px;
  height: @height;
  line-height: @height;
  text-align: center;
  border-radius: @height / 4;
  border: 1px dashed gray;
  color: gray;
  font-size: 1.2em;
  -webkit-user-select: none;
  cursor: default;

  &.hover {
    background: #75ff28;
  }
  &.deny {
    background: #ff8780;
  }
}

#filelist {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid gray;
}

.thumb {
  height: 100px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}